name: Deploy API Core

on: push

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@master

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install Ansible and collections
        run: |
          python -m pip install --upgrade pip
          pip install ansible ansible-core

          ansible-galaxy collection install community.general

      - name: Create ansible.env with vault password and ssh key
        working-directory: ansible
        run: |
          echo "${{ secrets.ANSIBLE_VAULT_PASSWORD }}" > ansible-password.txt
          chmod 600 ansible-password.txt

      - name: Decrypt the rest of ansible vault files
        working-directory: ansible
        run: |
          ansible-vault view ssh-key.pem.vault --vault-password-file=ansible-password.txt > ssh-key.pem
          chmod 400 ssh-key.pem

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          cp ansible/ssh-key.pem ~/.ssh/energet
          chmod 600 ~/.ssh/energet
          ssh-keyscan -p "${{ secrets.SERVER_PORT }}" -H "${{ secrets.SERVER_HOST }}" >> ~/.ssh/known_hosts

      - name: Run Ansible playbook to deploy backend
        working-directory: ansible
        run: |
          ansible-playbook deploy.yml \
            -e '{
            "server_host": "${{ secrets.SERVER_HOST }}",
            "server_port": "${{ secrets.SERVER_PORT }}",
            "server_user": "${{ secrets.SERVER_USER }}",
            "telegram_chat_id": "${{ secrets.TELEGRAM_CHAT_ID }}",
            "telegram_bot_token": "${{ secrets.TELEGRAM_TOKEN }}",
            "telegram_topic_id": "${{ secrets.TELEGRAM_TOPIC_ID }}"
          }'
          
